<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.berrydabest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BerryDaBest">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyEvent"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".EventDetail"
            android:exported="false" />
        <activity
            android:name=".LinkDBActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEvent"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_EditProfile"
            android:exported="false" />
        <activity
            android:name=".Activity_Profile"
            android:exported="false" />
        <activity
            android:name=".QR_Generator"
            android:exported="false" />
        <activity
            android:name=".QR_Scan"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false">
        </activity>
        <activity
            android:name=".EventAnalytic"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
    </application>

</manifest>